    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
	
	
	
	div.show-image {
		position: relative;
		float:left;
		margin:5px;
	}
	
	div.show-image:hover img{
		opacity:0.3;
	}
	div.show-image:hover button {
		display: block;
	}
	div.show-image button {
		position:absolute;
		display:none;
	}
	
	div.show-image button.delete {
		top:5px;
		right:5px;
	}
